<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(body)">
<head>
    <meta charset="UTF-8" />
    <title>Admin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
</head>

<body class="admin-bg">

<!-- HEADER -->
<div class="admin-header d-flex justify-content-between align-items-center px-4">
    <h5 class="fw-bold mb-0">Admin BookStore</h5>
    <a href="/home" class="text-danger text-decoration-none fw-medium">Quay về trang chủ</a>
</div>

<div class="d-flex">
    <!-- SIDEBAR -->
    <div class="admin-sidebar">
        <a th:href="@{/admin/dashboard}" th:classappend="${active=='dashboard'} ? 'active'">Tổng quan</a>
        <a th:href="@{/admin/categories}"
           th:classappend="${active=='categories'} ? 'active'">
            Quản lý loại sách
        </a>
        <a th:href="@{/admin/books}" th:classappend="${active=='books'} ? 'active'">Quản lý sách</a>
        <a th:href="@{/admin/orders}" th:classappend="${active=='orders'} ? 'active'"> Quản lý đơn hàng</a>
        <a th:href="@{/admin/customers}" th:classappend="${active=='customers'} ? 'active'">Quản lý khách hàng</a>
        <a th:href="@{/admin/publishers}"
           th:classappend="${active=='publishers'} ? 'active'">
            Quản lý nhà xuất bản
        </a>



    </div>

    <!-- CONTENT -->
    <div class="admin-content w-100 p-4">
        <div th:replace="${body}"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
