<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/admin/layout :: layout(~{::body})}">

<body>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold mb-0">Quản lý nhà xuất bản</h4>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPublishersModal">
            + Thêm nhà xuất bản
        </button>
    </div>

    <!-- Thông báo không thể xóa NXB -->
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${error}"></span>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>

    <!-- Tb xóa thành công -->
    <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${success}"></span>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    <table class="table table-borderless bg-white shadow-sm rounded align-middle">
        <thead class="small text-muted">
            <tr>
                <th>ID</th>
                <th>Tên nhà xuất bản</th>
                <th>Địa chỉ</th>
                <th>Email liên hệ</th>
                <th class="text-center">Thao tác</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="p : ${publishers}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.address}"></td>
                <td th:text="${p.contactEmail}"></td>
                <td class="text-center">
                    <button class="btn btn-sm btn-outline-primary me-1 edit-btn"
                        th:href="@{/admin/publishers/edit/{id}(id=${p.id})}" data-bs-toggle="modal"
                        data-bs-target="#editPublishersModal" th:data-edit-id="${p.id}" th:data-edit-name="${p.name}"
                        th:data-edit-address="${p.address}" th:data-edit-contact-email="${p.contactEmail}">
                        Sửa
                    </button>


                    <a class="btn btn-sm btn-outline-danger" th:href="@{/admin/publishers/delete/{id}(id=${p.id})}"
                        onclick="return confirm('Bạn có chắc chắn muốn xóa nhà xuất bản này?')">
                        Xóa
                    </a>
                </td>
            </tr>
        </tbody>

    </table>

    <!-- Model thêm NXB -->
    <div class="modal fade" id="addPublishersModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <form th:action="@{/admin/publishers/create}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm nhà xuất bản mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body row">

                        <div class="col-md-12">
                            <label class="form-label">Tên nhà xuất bản</label>
                            <input class="form-control" name="name" required />
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Địa chỉ</label>
                            <input class="form-control" name="address" required />
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Email liên hệ</label>
                            <input class="form-control" name="contactEmail" required />
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary">Thêm mới</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Hủy
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal sửa NXB -->
    <div class="modal fade" id="editPublishersModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <form th:action="@{/admin/publishers/update}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Cập nhật nhà xuất bản </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body row">
                        <input type="hidden" name="id" id="editId">
                        <div class="col-md-12">
                            <label class="form-label">Tên nhà xuất bản</label>
                            <input class="form-control" name="name" id="editName" required />
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Địa chỉ</label>
                            <input class="form-control" name="address" id="editAddress" required />
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Email liên hệ</label>
                            <input class="form-control" name="contactEmail" id="editContactEmail" required />
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary">Cập nhật</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Hủy
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        document.addEventListener("click", function (e) {
            const btn = e.target.closest(".edit-btn");
            if (!btn) return;

            document.getElementById("editId").value = btn.dataset.editId;
            document.getElementById("editName").value = btn.dataset.editName;
            document.getElementById("editAddress").value = btn.dataset.editAddress;
            document.getElementById("editContactEmail").value = btn.dataset.editContactEmail;
        });
    </script>
</body>

</html>