:root {
    --pink-1: #FCF8F8;
    --pink-2: #FBEFEF;
    --pink-3: #F9DFDF;
    --pink-4: #F5AFAF;
}

.btn-buynow {
    width: 50%;
    background-color: var(--pink-2);
    color: #b13b3b;
    border: 1px solid #CD2C58;
    padding: 6px 55px;
    font-weight: 600;
    transition: all 0.25s ease;
}

.btn-buynow:hover {
    background-color: #CD2C58;
    color: #fff;
    border-color: #CD2C58;
}

.btn-buynow:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(245, 175, 175, 0.4);
}

/* .btn-addtocart {
    width: 50%;
    background-color: #F0FFDF;
    color: #41644A;
    border: 1px solid #A8DF8E;
    padding: 6px 55px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.25s ease;
} */

.btn-addtocart {
    width: 50%;
    background-color: #BDE8F5;
    color: #0E21A0;
    border: 1px solid #0E21A0;
    padding: 6px 55px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.25s ease;
}

.btn-addtocart:hover {
    background-color: #0E21A0;
    border-color: #0E21A0;
    color: #fff;
}

.btn-addtocart:active {
    transform: scale(0.97);
}

.img-thumbnail.thumb {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    object-fit: contain; /* không méo ảnh */
    cursor: pointer;
}
.arrow {
    transition: transform 0.3s ease;
}

button[aria-expanded="true"] .arrow {
    transform: rotate(180deg);
}

.border-img {
    border: 2px solid var(--pink-4);
}