/* Custom Brand Colors */
:root {
  --brand-orange: #f37021;
}

.bg-orange {
  background-color: var(--brand-orange) !important;
}

.text-orange {
  color: var(--brand-orange) !important;
}

.border-orange {
  border: 1px solid var(--brand-orange) !important;
}

.header-gradient {
  background: linear-gradient(to right, #ffe0d0, #ffb085);
}

/* Register Button */
.btn-outline-white {
  border: 1px solid white !important;
  color: white !important;
  text-decoration: none;
  transition: 0.3s;
}

.btn-outline-white:hover {
  background: white;
  color: var(--brand-orange) !important;
}

.back-home {
  text-decoration: none;
  font-weight: 500;
  transition: 150ms;
}

.back-home:hover {
  color: var(--brand-orange) !important;
}

.otp-input {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #ced4da;
  border-radius: 8px;
}

.otp-input:focus {
  border-color: var(--brand-orange);
  box-shadow: 0 0 8px #632804;
  outline: none;
}

/* Ẩn mũi tên tăng giảm của input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
