<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{views/layout :: layout(~{::body})}">
<body>
    <style>
        .img-thumbnail.thumb {
            border: 1px solid #000;
            width: 100px;
            height: 100px;      /* ép vuông */
            object-fit: contain; /* không méo ảnh */
            cursor: pointer;
        }
        .arrow {
            transition: transform 0.3s ease;
        }

        /* Khi collapse mở */
        button[aria-expanded="true"] .arrow {
            transform: rotate(180deg);
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <div class="container my-4 px-5 align-items-start">

        <!-- TOP -->
        <div class="row g-4">
            <!-- Image -->
            <div class="col-md-5 pe-2">
                <div class="border border-dark rounded p-2 mb-3 text-center">
                    <img id="mainImage"
                        src="https://bizweb.dktcdn.net/thumb/large/100/197/269/products/ban-co-the-dam-phan-bat-cu-dieu-gi.jpg"
                        class="img-fluid"
                        style="max-height: 450px;">
                </div>
                <div class="d-flex gap-2">
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/197/269/products/ban-co-the-dam-phan-bat-cu-dieu-gi.jpg"
                        class="img-thumbnail thumb active"
                        onclick="changeImage(this)"
                        >

                    <img src="https://via.placeholder.com/300x450?text=Ảnh+2"
                        class="img-thumbnail thumb"
                        onclick="changeImage(this)"
                        >

                    <img src="https://via.placeholder.com/300x450?text=Ảnh+3"
                        class="img-thumbnail thumb"
                        onclick="changeImage(this)"
                        >
                </div>
            </div>

            <!-- Info -->
            <div class="col-md-7">
                <h2>TIÊU ĐỀ SÁCH</h2>
                <p class="text-muted">Tác giả: Abc</p>

                <div class="d-flex align-items-end gap-3 mb-1">
                    <span class="text-danger fw-bold fs-4">
                        127.200đ
                    </span>

                    <span class="text-muted fs-6 mb-1">
                        Giá cũ: <del>159.000đ</del>
                    </span>
                </div>

                <p>Loại sách: <strong>Tâm lý học</strong></p>
                <p>Số lượng còn lại: <strong>Còn hàng</strong></p>

                <div class="d-flex align-items-center gap-2">
                    <label>Số lượng:</label>
                    <input type="number" class="form-control w-25" value="1">
                </div>

                <div class="buy-box">
                    <button class="btn btn-danger fw-semibold fs-5 w-50 my-3">
                        <i class="bi bi-cart fw-bold"></i> Mua ngay
                    </button> <br>
                    <button class="btn btn-outline-success fw-semibold fs-5 w-50">
                        <i class="bi bi-bag"></i> Thêm vào giỏ
                    </button>
                </div>
            </div>

        </div>

        <div class="detail border-top mt-4">
            <button class="btn btn-link text-dark fs-3 fw-bold text-decoration-none px-0 d-flex align-items-center gap-1"
                data-bs-toggle="collapse"
                data-bs-target="#detailCollapse"
                aria-expanded="false">
            Mô tả chi tiết
            <i class="bi bi-chevron-down arrow ps-2"></i>
            </button>
            <div class="collapse show" id="detailCollapse">
                <div class="fs-5 mt-2"> 
                    <p>Ngày xuất bản: 15/06/2024</p>
                    <p>Kích thước: 14 x 20 cm</p>
                    <p>Dịch giả: Nguyễn Thị Mai</p>
                    <p>Loại bìa: Mềm</p>
                    <p>Số trang: 256</p>
                    <!-- description -->
                    <p>
                    Bạn Có Thể Đàm Phán Bất Cứ Điều Gì (Tái Bản 2014)

                    Thế giới là một bàn đàm phán khổng lồ, và muốn hay không, bạn là một người tham dự. Bạn, với tư cách một cá nhân, sẽ có lúc mâu thuẩn với người khác: các thành viên trong gia đình, nhân viên bán hàng, đối thủ cạnh tranh, hoặc các thực thể với những cái tên đầy oai vệ như “Giới quyền uy” hoặc “cơ cấu quyền lực”. Cách bạn xử lý những mâu thuẫn này có thể quyết định không chỉ sự phát đạt của bạn, mà cả việc bạn có thể có được một cuộc sống đầy đủ, thú vị và thoải mái hay không.

                    Đàm phán là một lĩnh vực kiến thức và sự nỗ lực chú trọng vào việc làm hài lòng những người mà bạn muốn nhận từ họ (một hoặc nhiều) thứ gì đó. Chỉ đơn giản như vậy. Hầu như tất cả mọi thứ đều có thể thoả thuận được, nhưng làm thế nào để bước ra từ mỗi cuộc đàm phán trong tư thế của người đạt được mục tiêu?

                    Herb Cohen là một nhà đàm phán chuyên nghiệp trong hơn 40 năm, là cố vấn cho các tổng thống Jimmy Carter, Ronald Reagan về chống khủng bố, và là cố vấn cho các thương gia, tập đoàn và cơ quan chính phủ hàng đầu. Hoa kỳ như Bộ Ngoại giao, FIB, CIA, Bộ tư Pháp, Nhà Trắng…. Ngoài ra, ông còn tham gia giảng dạy tại các trường đại học hàng đầu Hoa Kỳ như Đại học Harvard, Đại học Michigan, viện Brookings, Học viện FBI.

                    Trong cuốn sách Bạn có thể đám phám bất cứ điều gì, Herb Cohen chia sẻ với chúng ta kinh nghiệm của 40 năm tham gia và kết thúc thành công hàng nghìn cuộc đàm phán lớn nhỏ. Cuốn sách về Đàm phán và Thuyết phục này không chỉ trình bày những yếu tố căn bản trong đàm phán và các kiểu đàm phán chủ yếu, mà còn đưa ra những ví dụ minh hoạ thú vị và thiết thực cho những hoàn cảnh khác nhau, đề xuất những giải pháp xử lý mềm dẻo, tế nhị nhưng hiệu quả mỗi tình huống hay xung đột, dù là trong gia đình (Khi trẻ con khóc đòi quà…), trong cuộc sống hàng ngày (Khi vợ bạn im lặng.....), trong công việc (Khi xin tăng lương….) hay môi trường kinh doanh (Khi khai thuế lợi tức, khi mua đất…). Vì thế, Bạn có thể đàm phán bất cứ điều gì đã trở thành một trong những cuốn sách bán chạy nhất tại Mỹ hơn 9 tháng liền, và đã được dịch ra trên 20 thứ tiếng.

                    Alphabooks trân trọng giới thiệu! 
                </p>
                
                </div>
            </div>
        </div>

        <!-- REVIEW -->
         <section class="product-reviews mt-5">

    <!-- Title & Rating Overview -->
    <div class="d-flex align-items-center mb-3">
        <span class="fs-4 fw-bold">Đánh giá sản phẩm</span>
        <span class="fs-5 text-warning ms-3">
            ★★★★★
        </span>
        <span class="ms-2 text-dark fw-semibold">4.7</span>
        <button class="btn btn-outline-warning align-items-end ms-auto"
                data-bs-toggle="modal"
                data-bs-target="#reviewModal">
            Viết đánh giá
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="reviewModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">

        <!-- Header -->
        <div class="modal-header border-0">
            <h5 class="modal-title fw-bold w-100 text-center">
            Đánh giá sản phẩm
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Body -->
        <div class="modal-body px-4 pb-4">

            <!-- Star rating -->
            <div class="rating text-center mb-3">
            <input type="radio" name="rating" id="star5"><label for="star5">★</label>
            <input type="radio" name="rating" id="star4"><label for="star4">★</label>
            <input type="radio" name="rating" id="star3"><label for="star3">★</label>
            <input type="radio" name="rating" id="star2"><label for="star2">★</label>
            <input type="radio" name="rating" id="star1"><label for="star1">★</label>
            </div>

            <!-- Form -->
            <form>
            <input class="form-control mb-2" placeholder="Nhập tên của bạn">
            <input class="form-control mb-2" placeholder="email@gmail.com">
            <input class="form-control mb-2" placeholder="Tiêu đề">
            <textarea class="form-control mb-3" rows="4" placeholder="Nội dung"></textarea>

            <div class="text-center">
                <button class="btn btn-primary px-4">Gửi</button>
            </div>
            </form>

        </div>
        </div>
    </div>
    </div>


    <!-- Review List -->
    <div class="list-group">

        <!-- Single Review -->
        <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <strong>Nguyễn Văn A</strong>
                <span class="text-warning">
                    ★★★★☆
                </span>
            </div>
            <p class="mb-1">Sách rất hay, dễ hiểu và ứng dụng được!</p>
            <small class="text-muted">5 ngày trước</small>
        </div>

        <!-- Another Review -->
        <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <strong>Trần Thị B</strong>
                <span class="text-warning">
                    ★★★★☆
                </span>
            </div>
            <p class="mb-1">Nội dung bổ ích, tôi rất thích.</p>
            <small class="text-muted">1 tuần trước</small>
        </div>

    </div>

</section>


        <!-- RELATED -->
        <h5 class="mt-5 mb-3 fs-2 fw-bold">Sản phẩm liên quan</h5>
        <div class="row g-3">
            <div class="col-6 col-md-3">
                <div class="card border-0">
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/197/269/products/thuat-toan.png?v=1676811419917" 
                    class="card-img-top w-50 mx-auto" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">Thuật Toán Hành Vi Và Cảm Xúc</h3>
                        <div class="d-flex align-items-end gap-3 mb-1 ms-auto">
                            <span class="text-danger fw-bold align-items-end ms-auto">
                                127.200đ
                            </span>

                            <span class="text-muted fs-6 mt-1">
                                <del>159.000đ</del>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="card border-0">
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/197/269/products/tranh-luan.png?v=1671243868687" 
                    class="card-img-top w-50 mx-auto" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h6 class="card-title">Lập Luận Sắc Bén Tranh Luận Thành Công Luật hấp dẫn</h6>
                        <div class="d-flex align-items-end gap-3 mb-1 ms-auto">
                            <span class="text-danger fw-bold align-items-end ms-auto">
                                127.200đ
                            </span>

                            <span class="text-muted fs-6 mt-1">
                                <del>159.000đ</del>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="card border-0">
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/197/269/products/thuat-toan.png?v=1676811419917" 
                    class="card-img-top w-50 mx-auto" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">Thuật Toán Hành Vi Và Cảm Xúc</h3>
                        <div class="d-flex align-items-end gap-3 mb-1 ms-auto">
                            <span class="text-danger fw-bold align-items-end ms-auto">
                                127.200đ
                            </span>

                            <span class="text-muted fs-6 mt-1">
                                <del>159.000đ</del>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="card border-0">
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/197/269/products/thuat-toan.png?v=1676811419917" 
                    class="card-img-top w-50 mx-auto" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">Thuật Toán Hành Vi Và Cảm Xúc</h3>
                        <div class="d-flex align-items-end gap-3 mb-1 ms-auto">
                            <span class="text-danger fw-bold align-items-end ms-auto">
                                127.200đ
                            </span>

                            <span class="text-muted fs-6 mt-1">
                                <del>159.000đ</del>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>